<section>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="cadastroFuncionario">
    <div class="modal-dialog modal-lg-2">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-row" method="post" action="/cadastrarUsuario">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="marg10">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="nome" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" placeholder="sobrenome" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">CPF</label>
                <input type="text" name="cpf" class="form-control" placeholder="cpf" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Data de Nascimento</label>
                <input type="date" name="dataDeNascimento" class="form-control" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10" for="password">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10" for="confirmpassword">Confirmação de Senha</label>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
                  placeholder="Confirme a sua senha" required />
              </div>

              <div class="form-group col-md-6">
                <label class="marg10">CEP</label>
                <input name="cep" class="form-control" type="text" id="cep" placeholder="CEP" value="" size="100%"
                  onblur="pesquisacep(this.value);" required />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Número</label>
                <input type="text" class="form-control" placeholder="Numero" size="100%" name="numeroCasa" />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Rua</label>
                <input name="rua" class="form-control" type="text" size="100%" id="rua" readonly />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Bairro</label>
                <input name="bairro" class="form-control" type="text" size="100%" id="bairro" readonly />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Cidade</label>
                <input name="cidade" class="form-control" type="text" size="100%" id="cidade" readonly />
              </div>
              <div class="form-group col-md-6">
                <label class="marg10">Estado</label>
                <input name="uf" class="form-control" type="text" id="uf" size="100%" readonly />
              </div>
            </div>
            <input type="hidden" name="status" id="status" value="2" />
            <div class="modal-footer col-12">
              <button type="submit" class="btn btn-dark col-12" id="submitCadastrar">Enviar</button>

            </div>
            <div class="modal-footer col-12 colAlinha">
              <a class="" data-dismiss="modal" aria-label="Close">Já possui uma
                conta? Acesse aqui.</a>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</section>