<div class="cardGas">
    <img src="imagens/botijãoDeGas.png">
    <h4 class="mt-4">Gás de cozinha</h4>
    <p class="mt-4"> Compre o seu gás no valor de R$...</p>
    <button class="btn btn-dark col-10 mt-3 mb-4" data-toggle="modal" data-target="#exampleModal">COMPRAR</button>
</div>