<div class='textoCorpo'>
  <div class='c1'>
    <h1 class='text-center'>
      VENHA CONHECER O MELHOR GÁS
    </h1>
    <div class='row justify-content-center'>
      {{!-- Distribuição do texto da tela de inicio --}}
      <div class='col-md-11'>
        <h5 class='text-justify'>
          O botijão de gás de 13 quilos, também conhecido como botijão de gás P13, é
          o gás de cozinha comum amplamente utilizado nos fogões residenciais em todo país. Seu
          principal uso está no preparo de alimentos e é altamente seguro, contendo
          dispositivo térmico de segurança chamado de plugue fusível. Dimensões: diâmetro 360 mm x
          altura 475mm
        </h5>
      </div>
    </div>
  </div>
  <div class='c2 justify-content-center'>
    <h1 class='inicioh text-center'>
      SOBRE
    </h1>
    <div class='row justify-content-center'>
      <div class='col-md-11'>
        <h5 class='text-justify'>
          O botijão de gás de 13 quilos, também conhecido como botijão de gás P13, é o gás de cozinha
          comum amplamente utilizado nos fogões residenciais em todo país. Seu principal uso está no
          preparo de alimentos e é altamente seguro, contendo
          dispositivo térmico de segurança chamado de plugue fusível. Dimensões: diâmetro 360 mm x
          altura 475mm
        </h5>
      </div>
    </div>
  </div>
  <div class='c3'>
    <h1 class='inicioh text-center'>
      QUEM SOMOS
    </h1>
    <div class='row justify-content-center'>
      <div class='col-md-11'>
        <h5 class='text-justify'>
          O botijão de gás de 13 quilos, também conhecido como botijão de gás P13, é o gás de cozinha
          comum amplamente utilizado nos fogões residenciais em todo país. Seu principal uso está no
          preparo de alimentos e é altamente seguro, contendo
          dispositivo térmico de segurança chamado de plugue fusível. Dimensões: diâmetro 360 mm x
          altura 475mm
      </div>
    </div>
  </div>
</div>