<div class="row d-flex justify-content-center p-4">
  <div class="col-md-3">
    <div class="gasInicio">
      <div class="cardGas">
        <img src="../imagens/botijãoDeGas.png" />
        <h4 class="mt-4">
          Gás de cozinha
        </h4>
        {{#switch session.status}}
        {{#case '1'}}
        <p class="mt-4">
          Compre o seu gás no valor de R$100
        </p>
        <button class="btn btn-dark col-10 mt-3 mb-4" data-toggle="modal" data-target="#exampleModal1">
          COMPRAR
        </button>
        {{/case}}
        {{#case '2'}}
        <p class="mt-4">
          Compre o seu gás no valor de R$100
        </p>
        <a href="/dashboard">
          <button class="btn btn-dark col-10 mt-3 mb-4">
            Pagina do funcionario
          </button>
        </a>
        {{/case}}
        {{#case '3'}}
        <p class="mt-4">
          Compre o seu gás no valor de R$100
        </p>
        <a href="/dashboard">
          <button class="btn btn-dark col-10 mt-3 mb-4">
            Pagina do funcionario
          </button>
        </a>
        {{/case}}
        {{#case null}}
        <p class="m-4 text-center">
          Entre com seu usuário e venha aproveitar o melhor preço da região!
        </p>
        <button class="btn btn-dark col-10 mt-3 mb-4" data-toggle="modal" data-target="#exampleModal">
          Logar
        </button>
        {{/case}}
        {{/switch}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="qualificacoes p-4">
      <h2>
        Qualidade
      </h2>
      <p>
        Veja as certificações que já conquistamos pela qualidade de nossos
        produtos
      </p>
      <p>
        O Gás Legal dá atenção especial à questão da precisão e da segurança e
        confirma sua participação no seleto grupo de empresas nacionais
        certificadas pela ABNT NBR ISO 9001:2015 no Brasil.
      </p>
      <p>
        Em cada enchimento, nossos vasilhames são submetidos a um rígido
        controle de qualidade. Depois de aprovados, eles recebem um lacre
        inviolável, que funciona como uma garantia de que o produto é seguro e
        está dentro das normas de utilização.
      </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel" style="width: 95%;">
          Solicite seu gás
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/pedido/realizado" method="post">
          <div>
            <div class="form-outline">
              <span class="input-group-text label-estilo" style="display: flex;justify-content: space-between;">Escolha
                a quantidade desejada:
                <div class="input-group-append" style="text-align-last: right;">
                  <input type="number" name="quantidadeDeGas" id="quantidadeDeGas" class="form-control" min="0" />
                </div>
              </span>
            </div>
            <br />
            <div>

              <h6> Escolha a sua forma de pagamento na entrega: </h6>
              <div class="form-check" name="tipoDePagamentoNaEntrega">
                <input class="form-check-input" type="radio" id="dinheiro" name="pagamento" value="dinheiro">
                <label class="form-check-label" for="dinheiro">
                  Dinheiro
                </label>
                <div hidden id="trocoPagamento" class="input-group-append">
                  <input name="troco" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                    value="0" min="0" style="text-align-last: right;" />
                  <span class="input-group-text">,00</span>
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="cartao" name="pagamento" value="cartao">
                <label class="form-check-label" for="cartao">
                  Cartão
                </label>
              </div>
            </div>


            <br />
            {{!-- <div>
              <h6>
                Valor total
              </h6>
              <h7>
                R$
                <h7>
                  <input id="valorTotalCompra" name="valorTotal" type="text" readonly />
                </h7>
              </h7>
            </div> --}}
            <div class="input-group-prepend">
              <span class="input-group-text label-estilo">Valor Total R$</span>
              <div class="input-group-append" style="text-align-last: right;">
                <input id="valorTotalCompra" name="valorTotal" type="text" class="form-control"
                  aria-label="Amount (to the nearest dollar)" value="0" readonly style="
    padding-left: 94px;
" />
                <span class="input-group-text">,00</span>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancelar
              </button>
              <button type="submit" class="btn btn-success">
                Pedir
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>