<div id="funcoesCliente" >
    <ul>
        <li><a href="/areaCliente/cliente">Home</a></li>
        <li><a href="/areaCliente/perfil">Perfil</a></li>
        <li><a href="/areaCliente/pedidos">Pedidos</a></li>
    </ul>
</div>