<div id="funcoesCliente" class="col-2">
    <ul>
        <li><a href="/cliente">Home</a></li>
        <li><a href="/cliente/perfil">Perfil</a></li>
        <li><a href="/cliente/pedidos">Pedidos</a></li>
    </ul>
</div>