<div id="funcoesCliente" class="col-2">
    <ul>
        <li><a href="/cliente/{{id}}">Home</a></li>
        <li><a href="/cliente/{{id}}/perfil">Perfil</a></li>
        <li><a href="/cliente/{{id}}/pedidos">Pedidos</a></li>
    </ul>
</div>