<div id="funcoesfuncioanrio" class="col-2">
    <ul>
        <li><a href="/funcionario">Home</a></li>
        <li><a href="/funcionario/perfil">Perfil</a></li>
        <li><a href="/funcionario/pedidos">Pedidos</a></li>
        <li><a href="/funcionario/clientesCadastrados">Clientes cadastrados</a> </li>
        <li><a href="/funcionario/caixa">Caixa</a></li>
        <li><a href="/funcionario/relatorios">Relatorios</a></li>
    </ul>
</div>