<div id="funcoesfuncioanrio" class="col-2">
    <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/dashboard/perfil">Perfil</a></li>
        <li><a href="/dashboard/pedidos">Pedidos</a></li>
         <li><a href="/dashboard/clientesCadastrados">Clientes cadastrados</a> </li>
        <li><a href="/dashboard/funcionariosCadastrados">Funcionarios cadastrados</a> </li>
        <li><a href="/dashboard/caixa">Caixa</a></li>
        <li><a href="/dashboard/relatorios">Relatorios</a></li>
    </ul>
</div>