<section class="container-fluid gasInfo p-5">
  <div class="row justify-content-center">
    <h1 class="text-center">
      Gás para quem precisa de gás
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h5 class="text-center">
        Distribuímos energia para todos. Entregamos o botijão P13 para
        residências, além de vasilhames e tanques diversos para estabelecimentos
        comerciais, condomínios, indústrias e agronegócio.
      </h5>
    </div>
  </div>
  <div class="row d-flex pt-5 justify-content-center">
    <div class="col-md-auto text-center">
      <img src="../imagens/peca-app.png" class="imgInfo" />
      <p class="text-center">
        Compre seu botijão pelo site
      </p>
    </div>

    <div class="col-md-auto text-center">
      <img src="../imagens/peca-comercio.png" class="imgInfo" />
      <p class="text-center">
        Compre seu botijão pelo site
      </p>
    </div>

    <div class="col-md-auto text-center">
      <img src="../imagens/peca-condominio.png" class="imgInfo" />
      <p class="text-center">
        Compre seu botijão pelo site
      </p>
    </div>

    <div class="col-md-auto text-center">
      <img src="../imagens/peca-industria.png" class="imgInfo" />
      <p class="text-center">
        Compre seu botijão pelo site
      </p>
    </div>

    <div class="col-md-auto text-center">
      <img src="../imagens/peca-agro.png" class="imgInfo" />
      <p class="text-center">
        Compre seu botijão pelo site
      </p>
    </div>
  </div>
</section>

<section class="container minha-conta">
  <div class="row p-4">
    <div class="col-md-5">
      <img src="../imagens/boneco_celular.png" class="avatarImg" />
    </div>
    <div class="col-md-7">
      <h2 class="text-center">
        Minha conta
      </h2>
      <p>
        Área cliente medição individual. Todos os serviços Supergasbras na ponta
        dos seus dedos!
      </p>
      <ul>
        <li>
          2ª via de contas
        </li>
        <li>
          Atualização de telefone e e-mail
        </li>
        <li>
          Assistência Técnica
        </li>
        <li>
          Histórico de consumo
        </li>
        <li>
          Troca de titularidade
        </li>
        <li>
          Controle sobre a conta
        </li>
      </ul>
      {{#switch session.status}}
      {{#case '1'}}
      <a href="/areaCliente/cliente">
        <button class="btn btn-dark col-10 mt-3 mb-4">
          Pagina do cliente
        </button>
      </a>
      </button>
      {{/case}}
      {{#case '2'}}
      <a href="/dashboard">
        <button class="btn btn-dark col-10 mt-3 mb-4">
          Pagina do funcionario
        </button>
      </a>
      {{/case}}
      {{#case '3'}}
      <a href="/dashboard">
        <button class="btn btn-dark col-10 mt-3 mb-4">
          Pagina do funcionario
        </button>
      </a>
      {{/case}}
      {{#case null}}
      <button class="btn btn-dark col-10 mt-3 mb-4" data-toggle="modal" data-target="#exampleModal">
        Logar
      </button>
      {{/case}}
      {{/switch}}
    </div>
  </div>
</section>