<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gás</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/caixa.css">
</head>

<body>
    <section>
        {{!-- Navbar Menu --}}
        <nav class="navbar navbar-expand-lg navbar-dark nav-cor">
            <div class="itens-navbar-mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{#switch session.status}}
                {{#case '1'}} <a class="" href="/areaCliente/cliente"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case '2'}} <a class=" " href="/dashboard"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case '3'}} <a class=" " href="/dashboard"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case null}}
                <a class=" " href="/"><img src="/imagens/logo_gas_8.png" alt="icon" width="85px">GÁS
                    LEGAL</a>
                {{/case}}
                {{/switch}}

                {{#if session.userid}}
                <li class="login1 btn sair"> <a href="/logout">Sair</a> </li>
                {{else}}
                <button type="button" class="login1 btn " data-toggle="modal" data-target="#exampleModal"><img
                        class="loginIcon" src="../../imagens/abstract-user-flat-4.svg"></button>
                {{/if}}
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{#switch session.status}}
                    <ul class="usuarioAcessado navbar-nav mr-auto">
                        {{#case '1'}}
                        <li><a class="nav-link" id="home" href="/areaCliente/cliente"> Home</a></li>
                        <li><a class="nav-link" id="perfil" href="/areaCliente/perfil"> Perfil</a></li>
                        <li><a class="nav-link" id="pedidos" href="/areaCliente/pedidos"> Pedidos</a></li>
                        {{/case}}
                        {{#case '2'}}
                        <li class="nav-item"><a href="/dashboard">Home</a></li>
                        <li class="nav-item"><a href="/dashboard/pedidos">Pedidos</a></li>
                        <li class="nav-item"><a href="/dashboard/perfil">Perfil</a></li>
                        <li class="nav-item"><a href="/dashboard/clientesCadastrados">Clientes Cadastrados</a> </li>
                        {{#ifCond session.status}}
                        <li class="nav-item"><a href="/dashboard/funcionariosCadastrados">Funcionarios Cadastrados</a>
                        </li>
                        {{/ifCond}}
                        <li class="nav-item"><a href="/dashboard/estoque">Estoque</a></li>
                        {{/case}}
                        {{#case '3'}}
                        <li class="nav-item "><a href="/dashboard">Home</a></li>
                        <li class="nav-item"><a href="/dashboard/perfil">Perfil</a></li>
                        <li class="nav-item"><a href="/dashboard/pedidos">Pedidos</a></li>
                        <li class="nav-item"><a href="/dashboard/clientesCadastrados">Clientes Cadastrados</a> </li>
                        <li class="nav-item"><a href="/dashboard/backup">Backup</a></li>
                        {{#ifCond session.status}}
                        <li class="nav-item"><a href="/dashboard/funcionariosCadastrados">Funcionarios Cadastrados</a>
                        </li>
                        {{/ifCond}}
                        <li class="nav-item"><a href="/dashboard/caixa">Caixa</a></li>
                        <li class="nav-item"><a href="/dashboard/estoque">Estoque</a></li>
                        <li class="nav-item"><a href="/dashboard/relatorios">Relatorios</a></li>
                        {{/case}}
                    </ul>
                    <ul class="clienteSemAcesso navbar-nav mr-auto">
                        {{#case null}}
                        <li class="nav-item">
                            <a class="nav-link collapseLi" href="#" onclick="mostrarInicio()">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapseLi" onclick="mostrarSobre()">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link collapseLi" onclick="mostrarQuemSomos()">Quem Somos</a>
                        </li>
                        {{/case}}
                    </ul>
                    {{/switch}}


            </div>
        </nav>

        <!--Seção de login-->
        <section>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelCliente">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="loginCliente" method="post" action="/acessoUsuario">
                                <div class="form-group">
                                    <label class="marg10" for="exampleInputEmail1">Email:</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label class="marg10" for="senha">Senha</label>
                                    <input type="password" name="senha" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="reportText">
                                    {{#if messages.mensagemUsuarioInvalido}}
                                    {{messages.mensagemUsuarioInvalido}}
                                    {{/if}}
                                </div>
                                <button type="submit" id="acessarCliente" class="btn btn-dark col-12">Entrar</button>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger col-12" data-toggle="modal"
                                data-target=".bd-example-modal-lg-2" data-dismiss=" modal "
                                id="btnCadastro">Cadastre-se</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reportText">
                {{#if messages.mensagemUsuarioInvalido}}
            </div>
            <div class="modal fade show" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="padding-right: 17px; display: block; background:#0000007d;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelCliente">Login</h5>
                            <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="loginCliente" method="post" action="/acessoUsuario">
                                <div class="form-group">
                                    <label class="marg10" for="exampleInputEmail1">Email:</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label class="marg10" for="senha">Senha</label>
                                    <input type="password" name="senha" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                {{messages.mensagemUsuarioInvalido}}

                                <button type="submit" id="acessarCliente" class="btn btn-dark col-12">Entrar</button>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger col-12" data-toggle="modal"
                                data-target=".bd-example-modal-lg-2" data-dismiss=" modal "
                                id="btnCadastro">Cadastre-se</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </section>
        <!--final da seção de login-->

        <!--Seção do cadastro-->
        <!-- Modal -->
        {{> cadastroCliente}}
        {{> cadastroFuncionario}}

        <!--Final da seção do cadastro-->
    </section>

    <!--Mensagens-->
    <section class="container-fluid">
        <div class="row">
            {{#switch session.status}}
            {{#case '1'}}
            <div id="funcoesfuncionario" class="col-2">
                {{> clienteAcessos}}
            </div>
            {{/case}}
            {{#case '2'}}
            <div id="funcoesfuncionario" class="col-2">
                {{> funcionarioAcessos}}
            </div>
            {{/case}}
            {{#case '3'}}
            <div id="funcoesfuncionario" class="col-2">
                {{> funcionarioAcessos}}
            </div>
            {{/case}}
            {{#case null}}
            {{/case}}
            {{/switch}}

            {{{body}}}
        </div>

    </section>
    <div>
        {{> footer}}
    </div>


    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
        crossorigin="anonymous "></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>