<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gás</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark nav-cor">
            <div class="itens-navbar-mobile">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{#switch session.status}}
                {{#case '1'}} <a class="" href="/areaCliente/cliente"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case '2'}} <a class=" " href="/dashboard"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case '3'}} <a class=" " href="/dashboard"><img src="/imagens/logo_gas_8.png" alt="icon"
                        width="85px">GÁS LEGAL</a>
                {{/case}}
                {{#case null}}
                <a class=" " href="/"><img src="/imagens/logo_gas_8.png" alt="icon" width="85px">GÁS
                    LEGAL</a>
                {{/case}}
                {{/switch}}

                {{#if session.userid}}
                <li class="login1 btn sair"> <a href="/logout">Sair</a> </li>
                {{else}}
                <button type="button" class="login1 btn " data-toggle="modal" data-target="#exampleModal"><img
                        class="loginIcon" src="../../imagens/abstract-user-flat-4.svg"></button>
                {{/if}}
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    {{#switch session.status}}
                    <ul class="usuarioAcessado navbar-nav mr-auto">
                        {{#case '1'}}
                        <li><a class="nav-link" id="home" href="/areaCliente/cliente"> Home</a></li>
                        <li><a class="nav-link" id="perfil" href="/areaCliente/perfil"> Perfil</a></li>
                        <li><a class="nav-link" id="pedidos" href="/areaCliente/pedidos"> Pedidos</a></li>
                        {{/case}}
                        {{#case '2'}}
                        <li class="nav-item"><a href="/dashboard">Home</a></li>
                        <li class="nav-item"><a href="/dashboard/pedidos">Pedidos</a></li>
                        <li class="nav-item"><a href="/dashboard/perfil">Perfil</a></li>
                        <li class="nav-item"><a href="/dashboard/clientesCadastrados">Clientes cadastrados</a> </li>
                        {{#ifCond session.status}}
                        <li class="nav-item"><a href="/dashboard/funcionariosCadastrados">Funcionarios cadastrados</a>
                        </li>
                        {{/ifCond}}
                        <li class="nav-item"><a href="/dashboard/caixa">Caixa</a></li>
                        <li class="nav-item"><a href="/dashboard/estoque">Estoque</a></li>
                        <li class="nav-item"><a href="/dashboard/relatorios">Relatorios</a></li>
                        {{/case}}
                        {{#case '3'}}
                        <li class="nav-item "><a href="/dashboard">Home</a></li>
                        <li class="nav-item"><a href="/dashboard/perfil">Perfil</a></li>
                        <li class="nav-item"><a href="/dashboard/pedidos">Pedidos</a></li>
                        <li class="nav-item"><a href="/dashboard/clientesCadastrados">Clientes cadastrados</a> </li>
                        {{#ifCond session.status}}
                        <li class="nav-item"><a href="/dashboard/funcionariosCadastrados">Funcionarios cadastrados</a>
                        </li>
                        {{/ifCond}}
                        <li class="nav-item"><a href="/dashboard/caixa">Caixa</a></li>
                        <li class="nav-item"><a href="/dashboard/estoque">Estoque</a></li>
                        <li class="nav-item"><a href="/dashboard/relatorios">Relatorios</a></li>
                        {{/case}}
                    </ul>
                    <ul class="clienteSemAcesso navbar-nav mr-auto">
                        {{#case null}}
                        <li class="nav-item">
                            <a class="nav-link collapseLi" href="#" onclick="mostrarInicio()">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link collapseLi" onclick="mostrarSobre()">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link collapseLi" onclick="mostrarQuemSomos()">Quem somos</a>
                        </li>
                        {{/case}}
                    </ul>
                    {{/switch}}


            </div>
        </nav>

        <!--Seção de login-->
        <section>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelCliente">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="loginCliente" method="post" action="/acessoUsuario">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email:</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" name="senha" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <button type="submit" id="acessarCliente" class="btn btn-dark col-12">Entrar</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger col-12" data-toggle="modal"
                                data-target=".bd-example-modal-lg" data-dismiss=" modal "
                                id="btnCadastro">Cadastre-se</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--final da seção de login-->

        <!--Seção do cadastro-->
        <section>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true" id="modalCadastro">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-row" method="post" action="/cadastrarUsuario">
                                {{#if messages.message}}
                                {{messages.message}}
                                {{/if}}
                                <div class="alert alert-danger" role="alert" id="alertVermelho">
                                    As senhas não conferem, tente novamente!
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label>Nome</label>
                                        <input type="text" name="nome" class="form-control" placeholder="nome" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Sobrenome</label>
                                        <input type="text" name="sobrenome" class="form-control" placeholder="sobrenome"
                                            required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>CPF</label>
                                        <input type="text" name="cpf" class="form-control" placeholder="cpf" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Data de Nascimento</label>
                                        <input type="date" name="dataDeNascimento" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Senha</label>
                                        <input type="password" name="senha" id="senha" class="form-control"
                                            placeholder="Senha" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="confirmpassword">Confirmação de Senha</label>
                                        <input type="password" name="confirmpassword" id="confirmpassword"
                                            class="form-control" placeholder="Confirme a sua senha" required>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label>CEP
                                            <input name="cep" class="form-control" type="text" id="cep"
                                                placeholder="CEP" value="" size="100%" onblur="pesquisacep(this.value);"
                                                required /></label>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>NÚMERO
                                            <input type="text" class="form-control" placeholder="Numero" size="100%"
                                                name="numeroCasa">
                                        </label>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>RUA
                                            <input name="rua" class="form-control" type="text" size="100%" id="rua"
                                                readonly /></label>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>BAIRRO
                                            <input name="bairro" class="form-control" type="text" size="100%"
                                                id="bairro" readonly /></label>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>CIDADE
                                            <input name="cidade" class="form-control" type="text" size="100%"
                                                id="cidade" readonly /></label>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>ESTADO
                                            <input name="uf" class="form-control" type="text" id="uf" size="100%"
                                                readonly /></label>
                                    </div>
                                </div>
                                <input type="hidden" name="status" id="status" value="1" />
                                <div class="modal-footer col-12">
                                    <button type="submit" class="btn btn-dark col-12" id="submitCadastrar"
                                        disabled>Enviar</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--Final da seção do cadastro-->
    </section>

    <!--Mensagens-->

    {{{body}}}

    <footer id="rodape">
        <p>&copy; TADS - 2021</p>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
        crossorigin="anonymous "></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>