<!--Seção do container-->
<section class="container containerCentral">
    <div class="paginaCentral">
        <div class="row">
            {{> cardBotijao}}
            {{> cardTextosCentrais}}
        </div>
    </div>
</section>
<!--Final da seção do container-->