<!--Seção do container-->
<section class="container-fluid containerCentral">
    <div class="paginaCentral">
        <div class="row">
             {{> cardTextosCentrais}}
            {{> cardBotijao}}           
        </div>
        <div class="row">
            {{> infosHome}}
        </div>
    </div>
</section>
<!--Final da seção do container-->
<script>
    document.getElementById("funcoesfuncionario").style.display = "none";
</script>