:root {
  /*NavBar Menu*/
  --a-escuro: #012E40;
  /* Cor do box claro */
  --a-escuro2: #024059;
  /*Letras gerais*/
  --a-claro: #3C88A6;
  /* plano de fundo geral*/
  --c-claro: #C1D4D9;
  /*painel lateral*/
  --a-claro2: #246B73;
  /* Letras dos links */
  --c-claro2: #ffffff8c;
  /*Plano de fundo container*/
  --a-claro3: #F3F3F3;
  /*Plano de fundo CardGas*/
  --a-claro4: #ffffff;
  /* Nav Item hover*/
  --h-navitem: #ffc95a;
  /* Cor da borda do nav */
  --b-navitem: #1a1b30;


}

* {
  border: none;
  background-color: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: var(--c-claro2);
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

body {
  background: var(--c-claro) !important;
  font-family: Arial, Helvetica, sans-serif;
  width: 100% auto;
  height: 100vh !important;
}

.nav-item {
  margin: auto 15px;
}

.nav-item a:hover {
  color: var(--h-navitem) !important;
  transition: 0, 02s;
  font-size: 23px;
  font-weight: bolder;
}

p {
  text-align: justify;
}

#acoes-botoes button {
  display: inline;
  margin: 2px;
}

.containerCentral {
  padding-top: 40px;
  background: var(--a-claro3);
  margin-top: 8px;
  padding: 0px !important;
}

.qualificacoes {
  /* cor de fundo anterior #c61c2c */
  background-color: var(--a-escuro);
  border-radius: 2%;
  color: var(--a-claro3);
  text-align: justify;
}

.avatarImg {
  width: 370px;
  height: 345px;
}

.paginaCentral {
  padding: 0 15px;
}

.gasInfo {
  background-color: var(--a-claro3);
}

.imgInfo {
  height: 100px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2em !important;
  padding-left: 1em;
  font-weight: bolder;
  height: 70px;
}

.nav-cor {
  /* #c61c2c */
  background-color: var(--a-escuro) !important;
  border-color: var(--b-navitem) !important;
}

#loginFuncionario {
  display: none;
}

.login1 {
  background: transparent;
  position: relative;
  top: 0;
}

/* Botões do Navbar de login e sair  */
.itens-navbar-mobile:first-child a {
  text-decoration: none !important;
  margin-top: 5px !important;
  display: block;
  padding-top: 2px;
  color: var(--a-claro3);
}

.login1 img {
  display: block;
  background: transparent;
  position: absolute;
  right: 0;
}

.login1:hover {
  box-shadow: 0.6px 1px 3px var(--b-navitem);
}

.sair a {
  font-size: 1.5em;
}

.sair a:hover {
  color: var(--h-navitem) !important;
  transition: 0, 7s !important;
  font-size: 1.8em !important;
  font-weight: bolder !important;
}

.nav-link {
  color: var(--a-claro3) !important;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--h-navitem) !important;
  transition: 0, 7s;
  font-size: 1.2em;
  font-weight: bolder;
}

.itens-navbar-mobile a:hover {
  color: var(--h-navitem) !important;
  transition: 0, 7s;
  font-size: 1.2em;
  font-weight: bolder;
}

#acoes-botoes {
  display: flex;
  align-items: center;
  margin: 3px;
}

#acoes-botoes a {
  color: var(--b-navitem);
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none !important;
  border: none;
}

.loginIcon {
  width: 40px;
  top: 10px;
}

.c2 {
  display: none;
}

.c3 {
  display: none;
}

.gasInicio {
  display: flex;
  justify-content: center;
}

.cardGas {
  width: 380px;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 10px var(--c-claro);
  background-color: var(--a-claro4);
  border-radius: 2%;
  /* #d2dcdd */
}

.cardGas img {
  margin-top: 10px;
  width: 180px;
}

.clienteAcessado {
  display: none !important;
}

.rodape {
  /* Cor de Fundo anterior #343a40 */
  background: var(--a-escuro);
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1.2rem !important;
  color: var(--a-claro3);
  box-sizing: border-box;
}

.rodape p {
  text-align: center;
}

.imgFuncionarioHome {
  width: 340px;
  background-color: var(--a-claro3);
  border-radius: 100%;
  border: outset;
  border-bottom-style: inset;
  margin: 20px 0px 20px 0px;
}

.btn-warning {
  font-weight: 600 !important;
}

.logotipo {
  background-color: var(--a-claro3);
  border-radius: 100%;
  border-style: outset;
  width: 75px;
  border-bottom: inset;
  margin-right: 15px;
}

.pesqui {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
}

/* Estilo para as Tabelas */
.thead-dark th {
  text-align: center;
}

.table tr {
  background-color: whitesmoke;
}
.table tr td {
  text-align: center;
}

/* Estilo para o Caixa  */

.posicao-caixa {
  display: flex;
  justify-content: center;
  background-color: var(--c-claro);
  /* ultima cor de fundo #b7dcdd */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--c-claro2);

}

.texto-center {
  display: flex;
  justify-content: center;
  background-color: var(--a-claro);
  /* #c06014 */
  color: var(--a-claro3);
  /* #f2d388 */
  /* font-size: 30px; */
  font-weight: 600;
  text-transform: uppercase;
}

.texto-center2 {
  display: flex;
  justify-content: center;
  background-color: var(--a-claro);
  /* #c06014 */
  color: var(--a-claro3);
  /* #f2d388 */
  font-size: 30px;
  font-weight: 600;
}

.texto-center3 {
  display: flex;
  justify-content: center;
  background-color: var(--a-claro);
  color: var(--a-claro3);
  font-size: 25px;
  font-weight: 600;
}

.valorApagar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.col {
  padding: 0 10px !important;
}

.label-estilo {
  font-size: 15px !important;
  font-weight: 800 !important;
}

.fundo-dos-pedidos {
  background-color: var(--a-claro3);
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--c-claro2);
  height: 100%;
}

.texto-total {
  display: flex;
  justify-content: center;
  color: var(--a-escuro);
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.fechamento-caixa {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1px 0px 0px 15px;
  align-items: flex-end;
}

.textoCorpo {
  width: 80%;
  margin: 0 auto;
}

.marg10 {
  margin-left: 10px;
}

.colAlinha {
  display: flex;
  flex-direction: column;

}

.colAlinha:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Media query*/
@media screen and (max-width: 575px) {
  .rodape {
    position: fixed;
  }

  .c1 {
    display: none;
  }

  .cardGas {
    width: 100%;
  }

  .containerCentral {
    background: var(--a-claro3);
    height: 100%;
  }

  .textoCorpo {
    text-align: center;

  }

  .inicioh {
    padding-top: 10px;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 576px) {

  .login1 {
    margin-right: 12px;
  }

  .textoCorpo {
    padding-left: 40px !important;
  }

  .cardGas {
    left: 15px !important;
  }
}

@media screen and (min-width: 992px) {
  .login1 {
    margin-top: 5px;
    margin-right: 12px;
    right: 0;
    position: absolute;
  }
}

/* ESTILOS DA PAGINA DO CLIENTE */

#funcoesCliente {
  width: 500px;
  height: 100vh;
  /* cor de fundo anterior #c06014 */
  z-index: -1;
}

#funcoesCliente li {
  list-style-type: none;
  margin: 30px 0px 30px 0px;
}

#funcoesCliente li a {
  color: var(--a-escuro2);
  /* #156a8f  */
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}

#funcoesCliente li a:hover {
  margin-left: 10px;
  color: var(--a-escuro2);
  transition: 0.2s;
}

.secao-home-cliente-row-div-central {
  margin-top: 10px;
}

.secao-home-cliente-row-div-direita {
  margin-top: 10px;
}

/* .text-center {
  text-align: center;
  margin: 0 auto;
} */


@media screen and (max-width: 992px) {
  #funcoesCliente {
    display: none !important;
  }

  #funcoesfuncionario {
    display: none !important;

  }

  .clienteAcessado {
    display: block !important;
  }

  .avatarImg {
    width: 250px;
    height: 265px;
  }
}

/* estilização cliente final*/

/*estilização funcionario*/
#funcoesfuncionario {
  height: auto;
  margin-left: -15px;
  width: 500px;
  padding-bottom: 20px;
  background-color: var(--a-claro2);
}

#funcoesfuncionario li {
  list-style-type: none;
  margin-top: 30px;
}

#funcoesfuncionario li a {
  color: var(--a-claro3);
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}

#funcoesfuncionario li a:hover {
  margin-left: 5px;
  transition: all 0.2s;
}


.funcionarioAcessado {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .usuarioAcessado {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: block;
    height: 100%;
  }

  .itens-navbar-mobile {
    display: flex;
    justify-content: space-between;
  }

  .login1 a {
    margin-top: 15px;
  }

  .login1 img {
    display: block;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 28px;
  }

  .sair {
    right: 10px;
  }

  .sair a {
    font-size: 1em;
    padding-top: 20px !important;
  }

  .sair a:hover {
    color: var(--h-navitem) !important;
    transition: 0, 7s !important;
    font-size: 1em !important;
  }

  .nav-link:hover {
    color: var(--h-navitem) !important;
    transition: 0, 7s;
    font-size: 1em;
    font-weight: bolder;
  }

  .table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
  }

  #acoes-botoes {
    display: block;
  }
}