body {
    background: #faf3f3 !important;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

.containerCentral{
    padding: 20px;
    padding-top: 40px;
    background: #ffffff;
    height: 90vh;
    margin-top: 8px;
}

.paginaCentral{
    padding: 0 15px;
}

.navbar {
    font-size: 1.4em;
}

.login1 {
    background: rgb(230, 226, 226);
    margin-top: 5px;
    position: relative;
    right: 0;
}

.c2 {
    display: none;
}

.c3 {
    display: none;
}

.cardGas {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(171, 171, 173);
}

.cardGas img {
    margin-top: 10px;
    width: 100%;
}

#rodape {
    background: #d1d4d6;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

#rodape p {
    text-align: center;
}

/*Media query*/
@media screen and (max-width: 575px) {
    #rodape {
        position: relative;
    }
    .containerCentral{
        padding-top: 20px;
        background: #ffffff;
        height: 100%;
    }
    .textoCorpo{
        text-align: center;  
    }
    .inicioh{
        padding-top: 10px;
        font-size: 1.5em;
    }
}
@media screen and (min-width: 576px) {
    .login1 {
        margin-right: 12px;
    }
    .textoCorpo{
        padding-left: 40px !important;
        
    }
    .cardGas{
        left: 15px !important;
    }
}
@media screen and (min-width: 992px) {
    .login1 {
        margin-right: 12px;        
        right: 0;
        position: absolute;

    }
    
}