<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    {{> cardTextosCentrais}}
    <div class="reportText">
        {{#if messages.mensagemFaltandoBotijao}}
        {{messages.mensagemFaltandoBotijao}}
        {{/if}}
    </div>
    {{> cardBotijao}}
</div>