<section >
    <div class="secao-home-cliente">
        <div class="row">
            <div id="funcoesCliente"  class="col-2">
                {{> clienteAcessos}}
            </div>
            <div class="col-6 secao-home-cliente-row-div-central">
                {{> cardTextosCentrais}}
            </div>
                {{> cardBotijao}}
        </div>
    </div>
</section>