<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    <table class="table table-responsive-12">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Quantidade total inserido</th>
                <th scope="col">Quantidade total</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td> {{quantidadeTotalInserida}} </td>
                <td> {{valorTotalComprada}} </td>
            </tr>
        </tbody>
    </table>
</div>