<div class="col-6 secao-home-cliente-row-div-central">
  <form method="post" action="/dashboard/cadastrarEstoque">
    <div class="form-group">
      <label for="nomeDoProduto" class="marg10">Nome do produto</label>
      <input type="text" class="form-control" id="nomeDoProduto" name="nomeDoProduto" />
    </div>
    <div class="form-group">
      <label for="valorDoProduto" class="marg10">Valor do produto</label>
      <input type="text" class="form-control" id="valorDoProduto" name="valorDoProduto" />
    </div>
    <div class="form-group">
      <label for="quantidade" class="marg10">Quantidade inserida</label>
      <input type="number" class="form-control" id="quantidade" name="quantidadeInserida" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>