<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central" style="  text-align: center; ">
    <div class="text-center" style="width: 100%;">
        <h1>Backup</h1>
    </div>
    <a href="/dashboard/backupSalvo">salvar backup</a>
</div>