<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    <div class="container">
        <h2>Relatórios</h2>
        <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements
            under the specified parent will be closed when one of the collapsible item is shown.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                            style="color: #000;">Relatório Semanal</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>mês</th>
                                <th>quantidade de produto inserido</th>
                                <th>quantidade de produto retirado</th>
                                <th>valor total das vendas</th>
                                <th>valor total retirado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each pedidosCadastrados}}
                            <tr>
                                <td>{{{this.quantidadePedido}}}</td>
                                <td>{{{this.tipoDePagamentoNaEntrega}}}</td>
                                <td>{{{this.valorTotal}}}</td>
                                <td>{{{formatDate this.createdAt}}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                            style="color: #000;">Relatório Mensal</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                            style="color: #000;">Relatório Anual</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
            </div>
        </div>
    </div>