<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central">
    <div>
        <h2>Relatorios</h2>
        <p>
            <a href="/dashboard/funcionario/relatorios/clientes" class="btn btn-dark">Clientes</a>
            <a href="/dashboard/funcionario/relatorios/produtos" class="btn btn-dark">Produtos</a>
            <a href="/dashboard/funcionario/relatorios/vendas" class="btn btn-dark">Vendas</a>
        </p>
    </div>
</div>