<div class="col-md-12 col-lg-10 secao-home-cliente-row-div-central" style="  text-align: center; ">
    <div class="text-center" style="width: 100%;"> 
    <h1>Perder dados!?</h1>
    <p> por causa de um problema no computador ou uma falha no disco rígido é bastante desencorajador. E, depois que você consertar tudo, ainda pode demorar muito para redefinir suas configurações pessoais em um novo computador.
No entanto, uma pequena prevenção pode ser bastante útil para evitar essa provação. Para ajudar a poupar tempo e evitar aborrecimentos, recomendamos que você tome a precaução de fazer o backup dos seus dados e configurações semanalmente.</p>
    </div>
    <div >
    <a href="/dashboard/backupSalvo" style="display: flex; flex-direction: column; align-items: center;">
    <img src="/imagens/backup1.png" style="width: 35%; display:block;">
    <h1 class="btn btn-primary2">Faça seu Backup Aqui!</h1>
    </a>
    </div>
    </div>
{{!--

    color: #012e40;
    background-color: #ffc95a;
    border-color: #0062cc; --}}