<div class="col-md-12 col-lg-9 secao-home-cliente-row-div-central" style="  text-align: center; ">
    <h3 style="   margin-top: 4%;">Bom Dia, Parabéns pelo seu trabalho! Você é um
        exemplo inspirador para todos da empresa.</h3>
    <img src="./imagens/logo_gas_8.png" class="imgFuncionarioHome">
</div>